In [ ]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.stats.api as sms
from math import ceil

# Suppress warnings
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
warnings.filterwarnings('ignore')

sns.set_context('notebook')
sns.set_style('white')

In [3]:
# Load dataset
df = pd.read_csv("./data/user_mode_data.csv")

In [ ]:
# Preview dataset
df.sample(5)

        user_id                   timestamp      group landing_page  converted
224069   891997  2017-01-11 22:41:21.752657    control     old_page          0
291859   762336  2017-01-09 02:56:09.311842  treatment     new_page          1
195435   743183  2017-01-10 00:40:41.932798  treatment     new_page          0
270897   934265  2017-01-20 02:19:26.131025    control     old_page          0
128197   913638  2017-01-05 05:26:53.421548  treatment     new_page          0

In [5]:
# Create version column
df['version'] = np.where(df['landing_page'] == 'new_page', 'dark_mode', 'light_mode')

df.head(5)

,user_id,timestamp,group,landing_page,converted,version
0,851104,2017-01-21 22:11:48.556739,control,old_page,0,light_mode
1,804228,2017-01-12 08:01:45.159739,control,old_page,0,light_mode
2,661590,2017-01-11 16:55:06.154213,treatment,new_page,0,dark_mode
3,853541,2017-01-08 18:28:03.143765,treatment,new_page,0,dark_mode
4,864975,2017-01-21 01:52:26.210827,control,old_page,1,light_mode

In [8]:
df['group'].value_counts()

group
treatment    147276
control      147202
Name: count, dtype: int64

In [ ]:
df['landing_page'].value_counts()